@if (currentVenue$(); as currentVenue) {
  <div class="flex flex-col gap-2">
    <!-- Venue name and share button -->
    <div class="flex items-center justify-between">
      <h1 class="text-xl font-semibold">{{ currentVenue.name }}</h1>
    </div>

    <!-- Galleria -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <!-- First image is full height -->
      @if (galleriaImages().at(0)) {
        <p-image
          [src]="galleriaImages().at(0)?.thumbnailImageSrc"
          [alt]="currentVenue.name"
          class="fixed-size"
          styleClass="h-full w-full rounded-lg object-cover"
          [preview]="true"
        />
      }

      <!-- Second column with two images stacked -->
      <div class="grid grid-cols-2 gap-4">
        @for (
          galleryImage of galleriaImages();
          track galleryImage.itemImageSrc;
          let idx = $index
        ) {
          @if (idx !== 0) {
            <div class="max-h-[256px] overflow-hidden">
              <p-image
                [src]="galleryImage.thumbnailImageSrc"
                [alt]="currentVenue.name"
                class="fixed-size"
                styleClass="h-full w-full rounded-lg object-cover"
                [preview]="true"
              />
            </div>
          }
        }
      </div>
    </div>

    @if (currentVenue.isRentable === false) {
      <span class="flex items-center">
        <i class="pi pi-info-circle mr-1"></i>
        <span class="font-medium">
          Ovaj objekat nije dostupan za iznajmljivanje.
        </span>
      </span>

      <p-divider />
    }

    <!-- Venue details -->
    <div>
      <h1 class="text-xl font-semibold">Detalji</h1>
      <p>{{ currentVenue.description }}</p>
    </div>

    <p-divider />

    @if (currentVenue.isRentable) {
      <!-- Venue reservations -->
      <app-venue-reservations />

      <p-divider />
    }

    <!-- Venue amenities -->
    <div>
      <div class="flex flex-row justify-start gap-4">
        <i class="pi pi-users !text-4xl"></i>

        <div>
          <h3>Kapacitet</h3>
          <p>{{ currentVenue.capacity }}</p>
        </div>
      </div>
    </div>
  </div>
}
