@if (createMayorForm) {
  <section>
    <form
      class="flex flex-col gap-5"
      [formGroup]="createMayorForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col gap-5">
        <p-dropdown
          formControlName="tenantId"
          [options]="tenants()"
          [loading]="!tenants()?.length"
          optionLabel="name"
          optionValue="id"
          placeholder="Odaberi nadležno tijelo"
        />

        <p-floatLabel>
          <input
            id="firstName"
            type="text"
            pInputText
            formControlName="firstName"
          />

          <label for="firstName">Ime</label>
        </p-floatLabel>

        <p-floatLabel>
          <input
            id="lastName"
            type="text"
            pInputText
            formControlName="lastName"
          />

          <label for="lastName">Prezime</label>
        </p-floatLabel>

        <p-floatLabel>
          <input id="email" type="email" pInputText formControlName="email" />

          <label for="email">Email</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-password
            id="password"
            formControlName="password"
            [feedback]="false"
          />

          <label for="password">Lozinka</label>
        </p-floatLabel>

        <p-floatLabel>
          <p-password
            id="confirmPassword"
            formControlName="confirmPassword"
            [feedback]="false"
          />

          <label for="confirmPassword">Potvrdi lozinku</label>
        </p-floatLabel>
      </div>

      <p-button
        type="submit"
        label="Spremi"
        [disabled]="!createMayorForm.valid"
      />
    </form>
  </section>
}
