@if (venue(); as venue) {
  <p-card class="max-w-80 cursor-pointer hover:brightness-95">
    <p-galleria
      [value]="galleriaImages()"
      indicatorsPosition="bottom"
      [showIndicators]="true"
      [showThumbnails]="false"
      [showIndicatorsOnItem]="true"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.thumbnailImageSrc" [alt]="venue.name" />
      </ng-template>
    </p-galleria>

    <a [routerLink]="['/venues', venue.id]">
      <p class="text-lg font-bold">{{ venue.name }}</p>
      <p>{{ venue.description }}</p>
    </a>
  </p-card>
}
