<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <label for="firstName">Ime</label>
      <input
        pInputText
        type="text"
        formControlName="firstName"
        name="firstName"
        id="firstName"
      />

      @if (
        form.controls.firstName.touched &&
        form.controls.firstName.dirty &&
        form.controls.firstName.invalid
      ) {
        @if (form.controls.firstName.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="lastName">Prezime</label>
      <input
        pInputText
        type="text"
        formControlName="lastName"
        name="lastName"
        id="lastName"
      />

      @if (
        form.controls.lastName.touched &&
        form.controls.lastName.dirty &&
        form.controls.lastName.invalid
      ) {
        @if (form.controls.lastName.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="email">E-pošta</label>
      <input
        pInputText
        type="text"
        formControlName="email"
        name="email"
        id="email"
      />

      @if (
        form.controls.email.touched &&
        form.controls.email.dirty &&
        form.controls.email.invalid
      ) {
        @if (form.controls.email.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
        @if (form.controls.email.errors?.['email']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="purpose">Svrha</label>
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="purpose"
        name="purpose"
        id="purpose"
      ></textarea>

      @if (
        form.controls.purpose.touched &&
        form.controls.purpose.dirty &&
        form.controls.purpose.invalid
      ) {
        @if (form.controls.purpose.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="oib">OIB</label>
      <input pInputText type="text" formControlName="oib" name="oib" id="oib" />

      @if (
        form.controls.oib.touched &&
        form.controls.oib.dirty &&
        form.controls.oib.invalid
      ) {
        @if (form.controls.oib.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="city">Grad</label>
      <input
        pInputText
        type="text"
        formControlName="city"
        name="city"
        id="city"
      />

      @if (
        form.controls.city.touched &&
        form.controls.city.dirty &&
        form.controls.city.invalid
      ) {
        @if (form.controls.city.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="streetAddress">Adresa</label>
      <input
        pInputText
        type="text"
        formControlName="streetAddress"
        name="streetAddress"
        id="streetAddress"
      />

      @if (
        form.controls.streetAddress.touched &&
        form.controls.streetAddress.dirty &&
        form.controls.streetAddress.invalid
      ) {
        @if (form.controls.streetAddress.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="phone">Broj telefona</label>
      <input
        pInputText
        type="text"
        formControlName="phone"
        name="phone"
        id="phone"
      />

      @if (
        form.controls.phone.touched &&
        form.controls.phone.dirty &&
        form.controls.phone.invalid
      ) {
        @if (form.controls.phone.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="bankName">Ime banke</label>
      <input
        pInputText
        type="text"
        formControlName="bankName"
        name="bankName"
        id="bankName"
      />

      @if (
        form.controls.bankName.touched &&
        form.controls.bankName.dirty &&
        form.controls.bankName.invalid
      ) {
        @if (form.controls.bankName.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex flex-col gap-2">
      <label for="iban">IBAN</label>
      <input
        pInputText
        type="text"
        formControlName="iban"
        name="iban"
        id="iban"
      />

      @if (
        form.controls.iban.touched &&
        form.controls.iban.dirty &&
        form.controls.iban.invalid
      ) {
        @if (form.controls.iban.errors?.['required']) {
          <small class="text-red-500">Ovo polje je obavezno</small>
        }
      }
    </div>

    <div class="flex justify-end">
      <p-button
        [disabled]="form.invalid"
        label="Rezerviraj"
        (onClick)="onSubmit()"
      />
    </div>
  </form>
</div>
